.about-us-industries-section h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.about-us-industries-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
}

.about-us-industries-section p.tagline {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #1f2428;
  margin: 0;
  margin-top: 16px;
}

.about-us-industries-section p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-top: 16px;
}

.about-us-industries-section .row .col-lg-6:first-child {
  padding-right: 25px;
}

.about-us-industries-section .row .col-lg-6:last-child {
  padding-left: 25px;
}

.about-us-industries-section ul.slick-dots li {
  margin: 0 10px;
}

.about-us-industries-section ul.slick-dots li button {
  background-color: #d9d9d9;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.about-us-industries-section ul.slick-dots li.slick-active button {
  background-color: var(--primaryBlackColor);
}

.about-us-industries-section ul.slick-dots li button:hover {
  background-color: var(--primaryBlackColor);
}

.mv-section {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 336px;
  display: flex;
  align-items: center;
}

.mv-section h4 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  margin-bottom: 16px;
}

.mv-section p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
}

.bg-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1f2428;
  opacity: 0.9;
}

.journey-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  display: inline-block;
}

.journey-section .row:nth-child(2) {
  margin-top: 50px;
}

.journey-section .journey-items {
  background-color: var(--whiteColor);
  padding: 24px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}

.journey-section .journey-items h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
  width: 55%;
}

.journey-section .journey-items p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #333;
  margin: 0;
  margin-top: 8px;
  min-height: 90px;
}

.journey-section .journey-items span {
  position: absolute;
  right: 30px;
  top: 16px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
  padding: 6px 48px;
  border-radius: 80px;
  background: rgba(230, 100, 69, 0.1);
}

.about-us-catalogue {
  background-color: var(--primaryBlackColor);
  padding: 20px 44px;
  margin-top: 40px;
}

.about-us-catalogue h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
}

.about-us-catalogue h6 span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #c6c6c6;
  margin: 0;
}

.about-us-catalogue .col-md-4 {
  text-align: right;
}

.team-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  display: inline-block;
}

.team-section .row:not(:first-child) {
  margin-top: 40px;
}

.team-section p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: #383838;
  margin: 0;
}

.team-section p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: #383838;
  margin: 0;
}

.team-section h5 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
}

.team-section h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--redColor);
  margin: 0;
  margin-top: 4px;
}

.vdo-section {
  margin-top: 50px;
}

.vdo-section .row {
  background-color: var(--primaryBlackColor);
  padding: 20px 0;
}

.vdo-section .row .col-md-8 {
  padding-left: 40px;
  width: 65%;
}

.vdo-section .row .col-md-4 {
  text-align: center;
}

.vdo-section .row .col-md-4 img {
  margin-top: -50px;
}

.vdo-section h4 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  margin-bottom: 20px;
}

.vdo-section h4 span {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
}

.patents-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  display: inline-block;
}

.patents-section .row:nth-child(2) {
  margin-top: 50px;
}

.patents-section .slick-track {
  margin: 0;
}

.patents-section .slick-list {
  margin: 0 -20px;
}

.patents-section .slick-slide {
  margin: 0 20px;
}

.patents-section img {
  margin-bottom: 10px;
}

.patents-section a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0 auto;
}

.certificate-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  display: inline-block;
}

.certificate-section .row:nth-child(2) {
  margin-top: 50px;
}

.certificate-section .slick-track {
  margin: 0;
}

.certificate-section .slick-list {
  margin: 0 -20px;
}

.certificate-section .slick-slide {
  margin: 0 20px;
}

.infrastructure-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  display: inline-block;
}

.infrastructure-section p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: #383838;
  margin: 0;
}

/* start timeline section */

.checkpoint p {
  font-size: 14px;
}

.timeline {
  margin: 1em auto;
  max-width: 34.15em;
}

.checkpoint {
  max-width: 34em;
  position: relative;
}

.checkpoint div {
  border-radius: 1em;
  padding: 1.5em;
}

.checkpoint:nth-child(odd) {
  border-left: 3px solid #474646;
  padding-left: 9em;
  transform: translateX(16.85em);
}
.checkpoint:nth-child(even) {
  border-right: 3px solid #474646;
  padding-right: 9em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: "";
  background: #474646;
  width: 10em;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(even) h2,
.checkpoint:nth-child(even) p {
  text-align: right;
}

.checkpoint:nth-child(odd)::before {
  left: 0;
}

.checkpoint:nth-child(even)::before {
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: "";
  background-image: linear-gradient(#bd342d, #ff817a);
  box-shadow: 0 0 0.5em #070707;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

@media screen and (max-width: 1150px) {
  .timeline {
    width: 80vw;
  }
}

.checkpoint h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
}

.checkpoint p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 8px;
}

.checkpoint h2,
.checkpoint p {
  padding: 5px 0 0;
  margin: 0;
}

.start__image {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.end__image {
  position: absolute;
  bottom: -220px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end__content {
  position: absolute;
  bottom: -130px;
  left: 33%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
}

.table_wrapper {
  position: relative;
}

#timeline__section {
  padding-bottom: 235px;
  background: var(--primaryBlackColor);
  color: #fff;
  padding-top: 53px;
}

#timeline__section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
  display: inline-block;
}

#timeline__section .row:nth-child(2) {
  margin-top: 50px;
}

#timeline__section .common-heading,
#timeline__section .common-para {
  color: #fff;
}

.about-gallery-section {
  columns: 3;
  margin-top: 40px;
}

.about-gallery-section div {
  margin-bottom: 20px;
}

@media screen and (max-width: 991.99px) {
  #timeline__section .row:first-child,
  #companies__section .row:first-child {
    justify-content: flex-end !important;
  }

  .checkpoint:nth-child(even) {
    transform: translateX(-6em);
  }

  .checkpoint {
    max-width: 23em;
  }

  .start__image {
    top: 45px;
  }

  .table_wrapper {
    margin-top: 60px;
  }

  #timeline__section {
    margin-top: 90px;
  }

  .mv-section {
    padding: 40px 0;
  }

  .team-section h5,
  .vdo-section h4 {
    font-size: 20px;
    line-height: 32px;
  }

  .vdo-section h4 {
    font-size: 18px;
    line-height: 30px;
  }

  .team-section h6 {
    font-size: 18px;
  }

  .vdo-section .row .col-md-4 img {
    max-width: 190px;
    margin-top: -120px;
  }

  .vdo-section .row .col-md-8 .award-video img {
    width: 40px;
  }

  .patents-section a {
    font-size: 18px;
  }

  .about-us-catalogue h6,
  .about-us-catalogue h6 span {
    font-size: 18px;
  }

  .about-gallery-section {
    columns: 2;
  }
}

@media (max-width: 767px) {
  .about-us-industries-section .col-md-6:first-child {
    order: 2;
    margin-top: 24px;
  }

  .as-slider {
    margin: 24px 0;
    margin-bottom: 40px !important;
  }

  .about-us-industries-section .col-md-6:last-child {
    order: 1;
  }

  .about-us-industries-section h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .about-us-industries-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .about-us-industries-section p.tagline,
  .about-us-industries-section p {
    font-size: 16px;
    line-height: 28px;
  }

  .about-us-industries-section .row .col-lg-6:last-child {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .mv-section {
    padding: 40px 0;
  }

  .mv-section h4 {
    font-size: 24px;
    line-height: 36px;
  }

  .mv-section p {
    font-size: 16px;
    line-height: 28px;
  }

  .mv-section .col-md-6:first-child {
    margin-bottom: 24px;
  }

  .journey-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .journey-section h3 br {
    display: none;
  }

  .journey-section .journey-items h4 {
    font-weight: 600;
  }

  .journey-section .journey-items p {
    margin-top: 16px;
  }

  .journey-section .journey-items span {
    font-size: 14px;
    line-height: 28px;
    padding: 4px 40px;
  }

  .journey-section .journey-items {
    margin-bottom: 24px;
  }

  .about-us-catalogue {
    padding: 28px 24px;
  }

  .about-us-catalogue .col-md-8 {
    text-align: center;
  }

  .about-us-catalogue .col-md-4 {
    margin-top: 28px;
    text-align: center;
  }

  #timeline__section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .table_wrapper {
    margin-top: 0;
  }

  span.line {
    width: 60px;
  }

  .team-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .team-section .row:not(:first-child) {
    margin-top: 30px;
  }

  .team-section .row .col-md-9 {
    margin-top: 16px;
  }

  .team-section h5 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 16px;
  }

  .team-section h6 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 8px;
  }

  .vdo-section .row {
    padding-top: 40px;
  }

  .vdo-section .row .col-md-8 {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .vdo-section .row .col-md-4 {
    margin-top: 30px;
  }

  .vdo-section .row .col-md-8 a img {
    width: 32px;
  }

  .vdo-section h4 {
    font-size: 18px;
    line-height: 30px;
  }

  .vdo-section .row .col-md-4 img {
    position: absolute;
    right: 10px;
    top: 0;
    width: 130px;
    margin-top: -30px;
  }

  .patents-section h3,
  .certificate-section h3,
  .infrastructure-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .patents-section .row:nth-child(2),
  .certificate-section .row:nth-child(2) {
    margin-top: 40px;
  }

  .patents-section .slick-list,
  .certificate-section .slick-list {
    margin: 0 -10px;
  }

  .patents-section .slick-slide,
  .certificate-section .slick-slide {
    margin: 0 10px;
  }

  .patents-section a {
    font-size: 16px;
    line-height: 28px;
  }

  .infrastructure-section p {
    margin-top: 16px;
  }

  .team-section p {
    margin-top: 16px;
  }

  .about-gallery-section {
    columns: 1;
  }

  .about-gallery-section {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767.99px) {
  .checkpoint:nth-child(even) {
    transform: translateX(-3em);
    padding-right: 2em;
  }

  .checkpoint:nth-child(odd) {
    transform: translateX(9.85em);
    padding-left: 2em;
  }

  .checkpoint {
    max-width: 13em;
  }

  .checkpoint:nth-child(odd)::before,
  .checkpoint:nth-child(even)::before {
    width: 3em;
  }

  .checkpoint div {
    padding: 0em 1.5em 0;
  }

  .checkpoint h2 {
    font-size: 18px;
  }

  .start__image {
    top: 53px;
    width: 19%;
  }

  #timeline__section {
    margin-top: 65px;
    padding-top: 40px;
    padding-bottom: 200px;
  }

  .end__image {
    bottom: -225px;
    bottom: -155px;
    width: 80px;
  }

  
  #timeline__section {
    margin-top: 65px;
  }

  .checkpoint p {
    font-size: 12px;
  }

  .end__content {
    bottom: -160px;
    left: 25%;
    max-width: 100px;
    font-size: 12px;
    line-height: 24px;
  }
}

/* end */
