.blog-posts .blog-wrap {
  background-color: #fefefe;
  box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 18px;
  padding-bottom: 24px;
}

.blog-posts .blog-wrap div.mmb {
  align-items: center;
  margin-bottom: 18px;
}

.blog-posts .blog-wrap div.mmb span:first-child {
  display: flex;
  align-items: center;
}

.blog-posts .blog-wrap div.mmb span img {
  margin-right: 6px;
}

.blog-posts .blog-wrap span {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: var(--blackColor);
  margin: 0;
}

.blog-posts .blog-wrap span:last-child {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: var(--blackColor);
  margin: 0;
}

.single-post .blog-posts .blog-wrap a h5 {
  font-size: 20px;
  line-height: 32px;
  min-height: auto;
}

.blog-posts .blog-wrap a h5 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-bottom: 12px;
  min-height: 102px;
}

.blog-posts .blog-wrap p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #383838;
  margin: 0;
  margin-bottom: 8px;
}

.blog-posts .blog-wrap a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
  text-decoration: none;
}

.blog-pagenavi {
  margin-top: 40px;
}

.blog-pagenavi .pages {
  display: none;
}

.blog-pagenavi .current {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  text-decoration: none;
  background-color: var(--redColor);
  outline: line;
  border: none;
  padding: 2px 10px;
}

.blog-pagenavi a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  outline: line;
  border: none;
  padding: 2px 10px;
}

.blog-posts .row .col-lg-4, .blog-posts .row .col-lg-6  {
  margin-bottom: 24px;
}

.blog-detailed-wrapper {
  background: rgba(247, 209, 199, 0.2);
  padding: 36px 40px;
}

.blog-detailed-wrapper h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-bottom: 8px;
}

.blog-detailed-wrapper span.blog-date {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  margin: 0;
}

.blog-detailed-wrapper div {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #444;
  margin: 0;
  margin-top: 24px;
  font-family: "Manrope", sans-serif !important;
}

.blog-detailed-wrapper div h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #444;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-detailed-wrapper div h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  color: #444;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-detailed-wrapper div h3 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  color: #444;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-detailed-wrapper div h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #444;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-detailed-wrapper div h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #444;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-detailed-wrapper div h6 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #444;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-detailed-wrapper div ul li,
.blog-detailed-wrapper div ol li,
.blog-detailed-wrapper div p,
.blog-detailed-wrapper div span,
.blog-detailed-wrapper div a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
  margin: 0;
}

.single-post .download_pdf_button span, .single-post .download_pdf_button {
  color: blue !important;
  font-weight: 500 !important;
  cursor: pointer;
}

.pp-link-p {
  color: blue !important;
  font-weight: 500 !important;
  cursor: pointer;
}

.blog-detailed-wrapper div ul li,
.blog-detailed-wrapper div ol li {
  margin-top: 6px;
}

.blog-right-section .categories h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #21160e;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.blog-right-section .categories ul {
  padding-top: 28px;
  border-top: 1px solid #21160e;
  padding-left: 0;
}

.blog-right-section .categories ul li {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
}

.blog-right-section .categories ul li:not(:last-child) {
  margin-bottom: 12px;
}

.blog-right-section .categories ul li a {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
  text-decoration: none;
}

.blog-right-section .categories ul li::before {
  content: url("../images/blog-arrow.svg");
  margin-right: 16px;
}

.recent-post {
  margin-top: 50px;
}

.recent-post h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #21160e;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  border-bottom: 1px solid #21160e;
  padding-bottom: 8px;
}

.sidebar .col-12 {
  padding: 0;
}

.sidebar {
  margin-top: 30px;
}

.sidebar .col-12:not(:last-child) {
  margin-bottom: 24px;
}

.blog-posts .searchandfilter ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.blog-posts .searchandfilter ul li.sf-field-category {
  width: 15%;
}

.blog-posts .searchandfilter ul li.sf-field-category select,
.blog-posts .searchandfilter ul li.sf-field-tag select {
  border: none;
  cursor: pointer;
  font-family: "Manrope", sans-serif !important;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  min-width: auto;
  outline: none;
  border: none;
}

.blog-posts .searchandfilter ul li.sf-field-tag {
  width: 60%;
}

.blog-posts .searchandfilter ul li.sf-field-search label {
  width: 100%;
}

.blog-posts .searchandfilter ul li.sf-field-search {
  width: 22%;
}

.blog-posts .searchandfilter ul li.sf-field-search label input {
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 16px;
  font-family: "Manrope", sans-serif !important;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.blog-posts .searchandfilter ul li.sf-field-search label input::placeholder {
  font-family: "Manrope", sans-serif !important;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

/* .blog-posts .searchandfilter ul li.sf-field-search label input::after {
  content: url("../images/blog-searchbar.svg");
  width: 26px;
  height: 26px;
  position: absolute;
  right: 16px;
} */
.single-post .blog-detailed-wrapper a {
  color: blue;
  font-weight: 500;
}

.cat-blog {
  margin-top: 130px;
}

@media (max-width: 767px) {
  .cat-blog {
    margin-top: 110px;
  }

  .blog-detailed-wrapper {
    padding: 24px 16px;
  }

  .blog-detailed-wrapper h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .blog-detailed-wrapper div {
    margin-top: 32px;
  }

  .blog-detailed .col-md-4 {
    margin-top: 40px;
  }

  /* .blog-right-section .categories ul {
    border: 0.5px solid #21160e;
  } */

  .blog-posts .searchandfilter ul {
    flex-wrap: wrap;
  }

  .blog-posts .searchandfilter ul li.sf-field-category {
    width: 48%;
    order: 2;
  }

  .blog-posts .searchandfilter ul li.sf-field-tag {
    width: 48%;
    order: 3;
  }

  .blog-posts .searchandfilter ul li.sf-field-search {
    width: 100%;
    order: 1;
    margin-bottom: 16px;
  }
}
