.career-page-content h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.career-page-content h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin: 8px 0;
}

.career-page-content h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.career-page-content p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
}

.career-page-content p.bold {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-bottom: 16px;
}

.career-page-content .row:not(:first-child) {
  margin-top: 60px;
}

.career-form {
  background-color: #e1e6e9;
  padding: 40px 44px;
}

.career-form h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.career-form form {
  text-align: center;
}

.career-form form .half-field-form p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.career-form form .half-field-form p br {
  display: none;
}

.career-form form .half-field-form p span {
  width: 49%;
  margin-bottom: 32px;
}

.career-form form .half-field-form p span input,
.career-form form input {
  border: none !important;
  outline: none !important;
  width: 100% !important;
  padding: 10px 18px !important;
  border: 0.2px solid #000 !important;
  border: none !important;
  background: #fff !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  color: #4a5257 !important;
  margin: 0 !important;
  box-shadow: none !important;
  text-align: left !important;
}

.career-form form .half-field-form p span input::placeholder,
.career-form form input::placeholder {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  color: #4a5257 !important;
  text-align: left !important;
}

.career-form form .half-field-form p span.wpcf7-form-control-wrap span {
  margin-bottom: 0;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.career-form form textarea {
  border: none !important;
  outline: none !important;
  width: 100% !important;
  padding: 10px 18px !important;
  border: 0.2px solid #000 !important;
  border: none !important;
  background: #fff !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  color: #4a5257 !important;
  margin: 0 !important;
  text-align: left !important;
  box-shadow: none !important;
}

.career-form form textarea::placeholder,
.career-form form textarea::placeholder {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  color: #4a5257 !important;
}

.career-form form .home-page-banner-button p {
  display: inline;
}

.career-catalogue {
  background-color: #f7d1c7;
  padding: 20px 44px;
  margin-top: 40px;
}

.career-catalogue .col-md-4 {
  text-align: right;
}

.career-catalogue h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cp-testimonials h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cp-testimonials .row:nth-child(2) {
  margin-top: 40px;
}

.cp-testimonials .cp-testimonial-slider .items {
  background-color: var(--primaryBlackColor);
  padding: 40px 24px;
}

.cp-testimonials .cp-testimonial-slider .items p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 16px;
  min-height: 330px;
}

.cp-testimonials .cp-testimonial-slider .items h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
  margin-top: 24px;
}

.cp-testimonials .cp-testimonial-slider .slick-list {
  margin: 0 -10px;
}

.cp-testimonials .cp-testimonial-slider .slick-slide {
  margin: 0 10px;
}

.cp-testimonials .cp-testimonial-slider ul.slick-dots {
  bottom: -45px;
}

.cp-testimonials .cp-testimonial-slider ul.slick-dots li {
  margin: 0 10px;
}

.cp-testimonials .cp-testimonial-slider ul.slick-dots li button {
  background-color: transparent;
  width: 10px;
  height: 10px;
  border: 2px solid var(--primaryBlackColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cp-testimonials .cp-testimonial-slider ul.slick-dots li.slick-active button {
  background-color: var(--primaryBlackColor);
}

.gallery-slider img {
  max-height: 286px;
}

.page-template-career-page footer.mt {
  margin-top: 0;
}

/* type file */

.wpcf7-file::-webkit-file-upload-button {
  visibility: hidden;
}

.wpcf7-file {
  width: 100%;
  margin-top: 24px;
}

.wpcf7-file::before {
  content: "Upload CV/Resume";
  display: inline-block;
  background: #fff !important;
  padding: 15px 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  color: #fff;

  outline: none;
  width: 100%;
  padding: 10px 18px;
  border: 0.2px solid #000;
  border: none;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #4a5257;
  margin: 0;
}

.wpcf7-file::after {
  content: "Add";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--redColor);
}

.wpcf7-file:hover::before {
  border-color: black;
}

.wpcf7-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.career-form form p span.file-line {
  display: block;
  text-align: left;
  margin-top: 5px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

/* end */

/* form */

.career-form #gform_fields_2 {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
}

.career-form #gform_fields_2 div.gfield:not(:last-child) {
  width: 49% !important;
}

.career-form #gform_fields_2 div.gfield.gfield--type-textarea {
  width: 100% !important;
}

.career-form #gform_fields_2 div.gfield:last-child {
  width: 100% !important;
}

.career-form .gform-theme--foundation .gform_fields div:not(:last-child) {
  margin-bottom: 0 !important;
}

.career-form #gform_fields_2 div.gfield span {
  text-align: left !important;
}

.career-form input[type="submit"] {
  width: unset !important;
  font-size: 16px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--redColor) !important;
  margin: 0 !important;
  border: 1px solid var(--redColor) !important;
  background-color: transparent !important;
  padding: 8px 17px !important;
  text-decoration: none !important;
  transition: 0.2s ease-in all !important;
  -webkit-transition: 0.2s ease-in all !important;
  -moz-transition: 0.2s ease-in all !important;
  -ms-transition: 0.2s ease-in all !important;
  -o-transition: 0.2s ease-in all !important;
}

.career-form input[type="submit"]:hover {
  background-color: var(--redColor) !important;
  color: var(--whiteColor) !important;
}

.career-form .gform-footer {
  justify-content: center !important;
}

.career-form .validation_message {
  text-align: left !important;
}

/* end */

@media (max-width: 991px) {
  .career-page-content h3 {
    font-size: 34px;
    line-height: 46px;
  }

  .cp-testimonials .cp-testimonial-slider .items p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 24px;
  }

  .career-form form .half-field-form p span {
    margin-bottom: 24px;
  }

  .wpcf7-file {
    margin-top: 20px;
  }

  .career-form form .half-field-form p span input,
  .career-form form textarea,
  .wpcf7-file::before {
    padding: 10px 16px !important;
  }

  .cp-testimonials .cp-testimonial-slider .items h5 {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .career-page-content h5,
  .career-page-content h6,
  .career-page-content p.bold,
  .career-page-content p {
    font-size: 16px;
    line-height: 28px;
  }

  .career-page-content h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .career-page-content p.bold {
    margin-top: 16px;
  }

  .career-page-content .row:not(:first-child) {
    margin-top: 40px;
  }

  .career-form {
    padding: 30px 16px;
  }

  .career-page-content h3 {
    margin-bottom: 24px;
  }

  .career-form form .half-field-form p span {
    width: 100%;
    margin-bottom: 20px;
  }

  .career-form form .half-field-form p span input,
  .career-form form textarea,
  .career-form form input {
    padding: 10px 16px !important;
  }

  .career-form form .half-field-form p span input,
  .career-form form .half-field-form p span input::placeholder,
  .career-form form textarea,
  .career-form form textarea::placeholder,
  .wpcf7-file::before,
  .career-form form p span.file-line,
  .career-form form textarea,
  .career-form form input {
    font-size: 14px;
    line-height: 22px;
  }

  .career-form form .home-page-banner-button {
    margin-top: 30px;
  }

  .home-page-banner-button a,
  .career-form form .home-page-banner-button input {
    padding: 6px 60px;
  }

  .home-page-banner-button div {
    padding: 6px 20px;
  }

  .career-catalogue h4 {
    text-align: center;
  }

  .career-catalogue .col-md-4 {
    margin-top: 20px;
    text-align: center;
  }

  .career-catalogue {
    padding: 28px 28px;
  }

  .cp-testimonials h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .cp-testimonials .cp-testimonial-slider .items p {
    font-size: 16px;
    margin-top: 24px;
  }

  .cp-testimonials .cp-testimonial-slider .slick-list {
    padding-left: 0 !important;
  }

  .gallery-slider {
    margin-top: 50px;
  }

  .career-form #gform_fields_2 div.gfield:not(:last-child) {
    width: 50% !important;
  }
}
