.cs-content-section h5.sub-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.cs-content-section h3.heading {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
}

.cs-content-section img {
  margin-top: 28px;
}

.cs-content-section p.para {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 20px;
}

.cs-content-section div.content-1,
.cs-content-section div.content-2 {
  margin-top: 28px;
}

.cs-content-section div.content-1 h1,
.cs-content-section div.content-2 h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section div.content-1 h2,
.cs-content-section div.content-2 h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section div.content-1 h3,
.cs-content-section div.content-2 h3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section div.content-1 h4,
.cs-content-section div.content-2 h4 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section div.content-1 h5,
.cs-content-section div.content-2 h5 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section div.content-1 h6,
.cs-content-section div.content-2 h6 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section ol,
.cs-content-section ul {
  margin: 0;
  margin-top: 12px;
}

.cs-content-section ol li,
.cs-content-section ul li {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
}

.cs-content-section ol li:not(:last-child),
.cs-content-section ul li:not(:last-child) {
  margin-bottom: 8px;
}

.impact-section {
  margin-top: 40px;
}

.impact-section h4 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.impact-section .results {
  border: 1px solid #cecece;
  background: #fdfdfd;
  margin-top: 30px;
  padding: 16px 28px;
}

.impact-section .results p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
  position: relative;
}

.impact-section .results p::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 2px;
  width: 5px;
  height: 70px;
  background-color: var(--redColor);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.impact-section .results h5 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 16px;
}

.impact-section .results h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
}

.projects-challanges {
  margin-top: 28px;
}

.projects-challanges.wb {
  border: 1px solid #e66445;
  background: rgba(230, 100, 69, 0.3);
  padding: 30px 40px;
}

.projects-challanges h4 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.projects-challanges ol,
.projects-challanges ul {
  margin: 0;
  margin-top: 16px;
}

.projects-challanges ol li,
.projects-challanges ul li,
.projects-challanges ul p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
}

.impact-numbers {
  background-color: var(--primaryBlackColor);
  padding: 60px 24px;
}

.impact-numbers div:not(:last-child) {
  margin-bottom: 30px;
}

.impact-numbers h6 {
  font-size: 70px;
  line-height: 90px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--redColor);
}

.impact-numbers p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 8px;
}

.impact-numbers img {
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.hi img:first-child {
  margin-right: 20px;
}

/* .hi img {
  width: 100%;
} */

.hi-inner-img {
  width: 50%;
}

@media (max-width: 1199px) {
  .impact-section .results h5 {
    font-size: 48px;
    line-height: 60px;
  }

  .impact-numbers h6 {
    font-size: 54px;
    line-height: 66px;
  }

  .hi {
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .cs-content-section h3.heading {
    font-size: 34px;
    line-height: 46px;
  }

  .projects-challanges ol,
  .projects-challanges ul {
    margin-top: 20px;
  }

  .projects-challanges ol li,
  .projects-challanges ul li,
  .projects-challanges ul p {
    font-size: 18px;
  }

  .impact-section .results h5 {
    font-size: 34px;
    line-height: 46px;
  }

  .impact-section .results h6 {
    margin-top: 6px;
  }

  .impact-numbers h6 {
    font-size: 48px;
    line-height: 60px;
  }

  .impact-numbers p {
    font-size: 16px;
    line-height: 28px;
  }

  .hi img:first-child {
    margin-right: 0;
  }

  .hi {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .hi-inner-img {
    width: 100%;
  }

  .cs-content-section h5.sub-heading {
    font-size: 16px;
    line-height: 28px;
  }

  .cs-content-section h3.heading {
    font-size: 24px;
    line-height: 36px;
  }

  .cs-content-section img {
    margin-top: 16px;
  }

  .cs-content-section p.para {
    font-size: 16px;
    line-height: 24px;
  }

  .projects-challanges.wb {
    padding: 24px 16px;
  }

  .projects-challanges h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .projects-challanges ol,
  .projects-challanges ul {
    margin-top: 20px;
  }

  .projects-challanges ol li,
  .projects-challanges ul li,
  .projects-challanges ul p,
  .cs-content-section ol li,
  .cs-content-section ul li,
  .cs-content-section p {
    font-size: 16px;
    line-height: 28px;
  }

  .cs-content-section ol li:not(:last-child),
  .cs-content-section ul li:not(:last-child) {
    margin-bottom: 12px;
  }

  .cs-content-section img {
    margin-top: 24px;
  }

  .impact-section h4 {
    font-size: 24px;
    line-height: 36px;
  }

  .impact-section .results h5 {
    font-size: 40px;
    line-height: 52px;
  }

  .impact-section .col-md-4 {
    margin-top: 24px;
  }

  .impact-numbers h6 {
    font-size: 48px;
    line-height: 60px;
  }

  .impact-numbers p {
    font-size: 16px;
    line-height: 28px;
  }

  .cs-content-section div.content-1 h4,
  .cs-content-section div.content-2 h4 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
  }

  .impact-numbers img {
    width: 30px;
  }
}
