@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul li,
ol li,
td,
input,
textarea,
input::placeholder,
textarea::placeholder,
button {
  font-family: "Manrope", sans-serif !important;
}

.mt {
  margin-top: 80px;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.o-hidden {
  overflow: hidden;
}

.z-1 {
  z-index: 1;
}

span.line {
  display: inline-block;
  width: 108px;
  height: 3px;
  background-color: var(--redColor);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-right: 20px;
  margin-top: 25px;
}

.home-page-banner-button {
  background: transparent;
  border: 2px solid var(--redColor);
  display: inline-block;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

.home-page-banner-button a {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
  padding: 14px 40px;
  text-decoration: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

.home-page-banner-button div {
  display: inline-block;
  background-color: var(--redColor);
  padding: 14px 20px;
  outline: none;
  border: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
  /* min-height: 58px; */
  border: 3px solid var(--redColor);
}

.home-page-banner-button:hover {
  background-color: var(--redColor);
}

.home-page-banner-button:hover a {
  background-color: var(--redColor);
}

.home-page-banner-button:hover div img {
  transform: rotate(32deg);
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
}

.header .top-header {
  background-color: var(--primaryBlackColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header .top-header .top-details,
.header .top-header .top-contact-details,
.header .top-header .top-social-icons {
  display: flex;
  align-items: center;
}

.header .top-header .top-tagline {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryTextColor);
  margin: 0;
  padding: 10px 0;
}

.header .top-header .top-contact-details {
  margin-right: 45px;
}

.header .top-header .top-contact-details p,
.header .top-header .top-contact-details p a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
}

.header .top-header .top-contact-details p a {
  text-decoration: none;
}

.header .top-header .top-contact-details p:first-child {
  padding-right: 20px;
  border-right: 1px solid var(--whiteColor);
}

.header .top-header .top-contact-details p:last-child {
  padding-left: 20px;
}

.header .top-header .top-social-icons a {
  padding: 0 12px;
  border-right: 1px solid #43413e;
  display: inline-block;
}

.header .top-header .top-social-icons a:first-child {
  border-left: 1px solid #43413e;
}

.header .main-header {
  background-color: transparent;
  position: fixed;
  top: 50px;
  z-index: 999;
  /* max-width: 1440px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.header .main-header.m-header {
  display: none;
}

.add-sticky-header {
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  background-color: rgba(0, 0, 0, 0.8) !important;
  top: 0 !important;
}

.header .main-header .header-menu-links {
  display: flex;
  align-items: center;
}

.header .main-header .header-menu-links ul.hv {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.header .main-header .header-menu-links ul.hv > li {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 70px;
  position: relative;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.header .main-header .header-menu-links ul.hv > li:not(:last-child) {
  margin-right: 54px;
}

.header .main-header .header-menu-links ul.hv > li a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.header .main-header .header-menu-links ul.hv > li:hover > a {
  color: var(--redColor);
}

.header .main-header .header-menu-links ul.hv > li:hover {
  border-bottom: 1px solid var(--redColor);
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu {
  /* display: none; */
  position: absolute;
  background: var(--primaryBlackColor);
  /* min-width: 200px; */
  min-width: 240px;
  top: 100%;
  margin: 0;
  padding-left: 0;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.products.menu-item-has-children
  ul.sub-menu {
  overflow-y: scroll;
  width: 300px;
  max-height: 450px;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.products.menu-item-has-children
  ul.sub-menu::-webkit-scrollbar {
  width: 6px;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.products.menu-item-has-children
  ul.sub-menu::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.products.menu-item-has-children
  ul.sub-menu::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    180deg,
    var(--primaryTextColor) 0%,
    var(--primaryBlackColor) 99%
  );
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu
  li
  a {
  display: block;
  padding: 0 20px;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu
  > li {
  position: relative;
  list-style-type: none;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu
  li
  ul.sub-menu {
  left: 101%;
  top: 0;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children
  > ul.sub-menu
  li.menu-item-has-children:hover
  > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu
  > li:not(:last-child) {
  margin-bottom: 6px;
}

.header .search-contact button,
.header .search-contact a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
  background-color: var(--redColor);
  padding: 20px 77px;
  outline: none;
  border: none;
  text-decoration: none;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children
  > a::after {
  content: "";
  background-image: url("../images/header-dropdown-arrow.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 38px;
  position: absolute;
  top: 48%;
  right: -20px;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.submenu
  li.menu-item-has-children
  > a {
  position: relative;
}

.header
  .main-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu
  li.menu-item-has-children
  > a::after {
  content: "";
  /* background-image: url("../images/header-dropdown-arrow.svg"); */
  background-image: url("../images/right-arrow2.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 38px;
  position: absolute;
  top: 48%;
  right: 20px;
}

/* header hover on desktop */

.header
  .main-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children:hover
  > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}

.search-contact {
  display: flex;
}

.search-contact div {
  background-color: var(--whiteColor);
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
}

.search-bar {
  background-color: var(--whiteColor);
  width: 100%;
  height: 120px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
  display: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.show-search-bar {
  display: flex;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  box-shadow: 0px 26px 44px -21px rgba(0, 0, 0, 0.25);
}

.search-bar img {
  margin-right: 50px;
}

.search-bar input {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  color: var(--paragraphColor);
  margin: 0;
  border: none;
  outline: none;
}

.close-search-bar {
  margin: 0;
  margin-left: auto;
  cursor: pointer;
}

/* end */

footer {
  background-color: var(--primaryBlackColor);
  padding: 60px 0;
}

footer h4 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

footer .footer-contact-details {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 40px;
}

footer .footer-contact-details div {
  width: 50%;
}

footer .footer-contact-details div:first-child,
footer .footer-contact-details div:nth-child(2) {
  margin-bottom: 36px;
}

footer .footer-contact-details div h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
}

footer .footer-contact-details div p,
footer .footer-contact-details div ul li,
footer .footer-contact-details div ul li a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 24px;
}

footer .footer-contact-details div p {
  /* color: #e0e1e4; */
  color: var(--redColor);
}

footer .footer-contact-details div ul li,
footer .footer-contact-details div ul li a {
  margin-top: 0;
  color: var(--redColor);
}

footer .footer-contact-details div ul li a {
  text-decoration: none;
}

footer .footer-contact-details div ul {
  margin-top: 24px;
  padding-left: 0;
}

footer .footer-contact-details div ul li {
  list-style-type: none;
}

/* footer .footer-contact-details div ul li:not(:last-child) {
  margin-bottom: 8px;
} */

footer .footer-contact-details div ul.footer-social-icons {
  display: flex;
  align-items: center;
}

footer .footer-contact-details div ul.footer-social-icons li a {
  border: 2px solid var(--redColor);
  padding: 10px 12px;
}

footer .footer-contact-details div ul.footer-social-icons li:nth-child(2) a,
footer .footer-contact-details div ul.footer-social-icons li:nth-child(3) a {
  border-right: 0;
  border-left: 0;
}

footer .footer-contact-details div ul.footer-social-icons li:nth-child(3) a {
  border-left: 2px solid var(--redColor);
}

footer h6 {
  font-size: 80px;
  line-height: 120px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  margin-top: 48px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--redColor);
}

footer .map,
footer .footer-links {
  margin-top: 40px;
}

footer .footer-links {
  display: flex;
  justify-content: space-between;
}

footer .footer-links .f-links {
  display: flex;
  align-items: center;
}

footer .footer-links .f-links ul {
  display: flex;
  padding-left: 0;
  margin: 0;
}

footer .footer-links .f-links ul li {
  list-style-type: none;
}

footer .footer-links .f-links ul li:not(:last-child) {
  margin-right: 40px;
}

footer .footer-links .f-links ul li a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

footer .footer-links .f-links ul li a:hover {
  color: var(--redColor);
}

footer .footer-form {
  background-color: var(--whiteColor);
  padding: 40px 30px;
}

footer .footer-form h4 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

footer .footer-form form {
  margin: 0;
  margin-top: 16px;
}

footer .footer-form form input.input,
footer .footer-form form textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primaryBlackColor);
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
  padding: 8px 0;
  margin-bottom: 12px;
}

footer .footer-form form input.input::placeholder,
footer .footer-form form textarea::placeholder {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
}

footer .footer-form input.primary-button {
  background-color: transparent;
}

footer .footer-form input.primary-button:hover {
  background-color: var(--redColor);
  color: var(--whiteColor);
}

footer .footer-form input[type="submit"] {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
  border: 1px solid var(--redColor);
  background-color: transparent;
  padding: 8px 17px;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

footer .footer-form input[type="submit"]:hover {
  background-color: var(--redColor);
  color: var(--whiteColor);
}

.sticky-cta {
  position: fixed;
  /* right: 0; */
  right: -58px;
  top: 45%;
  transform: rotate(-90deg);
}

.sticky-cta a {
  background: var(--primaryBlackColor);
  padding: 14px 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  z-index: 999;
  text-decoration: none;
}

.sticky-cta a:hover {
  color: var(--whiteColor);
}

.main-banner {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 340px;
  display: flex;
  align-items: center;
}

.main-banner h2 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

.single-post .main-banner h2 {
  font-size: 40px;
  line-height: 48px;
}

.home-page-banner-button {
  background: transparent;
  border: 2px solid var(--redColor);
  display: inline-block;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

.career-form form .home-page-banner-button {
  margin-top: 40px;
}

.home-page-banner-button a,
.career-form form .home-page-banner-button input {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  padding: 10px 70px;
  text-decoration: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;

  border: none;
  outline: none;
  background-color: transparent;
}

.career-form form .home-page-banner-button .wpcf7-spinner {
  display: none;
}

.home-page-banner-button div {
  display: inline-block;
  background-color: var(--redColor);
  padding: 10px 20px;
  outline: none;
  border: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
  /* min-height: 58px; */
  border: 3px solid var(--redColor);
}

.home-page-banner-button:hover {
  background-color: var(--redColor);
}

.home-page-banner-button:hover a {
  background-color: var(--redColor);
  color: var(--whiteColor);
}

.home-page-banner-button:hover div img {
  transform: rotate(32deg);
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
}

.header .main-header.m-header {
  display: flex;
  justify-content: space-between;
  display: none;
}

.header .main-header.m-header .mobile-menu-ws {
  display: flex;
  align-items: center;
}

.header .main-header.m-header .mobile-menu-ws .search-contact div {
  background-color: transparent;
  padding: 0;
}

.header .main-header.m-header .main-logo {
  width: 120px;
}

.header .main-header.m-header .header-menu-links {
  margin-left: 26px;
}

.header .main-header.m-header .mobile-menu-ws .mobile-menu-r {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primaryBlackColor);
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: none;
  overflow-y: scroll;
}

.header .main-header.m-header .mobile-menu-ws .mobile-menu-r img {
  float: right;
  margin-top: 15px;
}

.header .main-header.m-header .header-menu-links ul.hv {
  flex-direction: column;
  margin-top: 65px;
  align-items: self-start;
}

.header .main-header.m-header .header-menu-links ul.hv > li:not(:last-child) {
  margin-right: 0;
  margin-bottom: 20px;
}

.header .main-header.m-header .header-menu-links ul.hv > li {
  min-height: auto;
  width: 94%;
  position: relative;
}

/* .header .main-header.m-header .header-menu-links .menu-header-menu-container::after {
  content: url("../images/cross.svg");
  color: white;
  position: absolute;
  top: 20px;
  right: 20px
} */

.header .main-header.m-header .header-menu-links ul.hv > li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu {
  position: unset;
}

.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children
  > a::after,
.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu
  li.menu-item-has-children
  > a::after {
  top: 12px;
  right: -20px;
}

.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children
  ul.sub-menu,
.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children
  > ul.sub-menu
  li.menu-item-has-children
  > ul.sub-menu {
  display: none;
  width: 100%;
}

.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children:hover
  ul.sub-menu,
.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  > li.menu-item-has-children
  > ul.sub-menu
  li.menu-item-has-children:hover
  > ul.sub-menu {
  display: block;
  width: 100%;
}

.header
  .main-header.m-header
  .header-menu-links
  ul.hv
  li.menu-item-has-children
  ul.sub-menu
  > li:not(:last-child) {
  margin-bottom: 16px;
}

/* serach bar css */

.is-form-style button.is-search-submit {
  display: none;
}

.is-form-style input.is-search-input {
  border: none !important;
  padding: 0 !important;
  font-size: 18px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--paragraphColor) !important;
  margin: 0 !important;
  border: none !important;
  outline: none !important;
  width: 100% !important;
}

.is-form-style input.is-search-input::placeholder {
  font-size: 18px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--paragraphColor) !important;
}

/* end */

/* footer year text */

footer h6.since-text-scnd {
  display: none;
  text-align: center;
}

#map {
  width: 100%;
  height: 300px;
}

/* end */

/* search bar css */

/* */

.mfp-wrap {
  position: fixed;
}

.mfp-container {
  display: flex;
  align-items: center;
}

/* */

div.is-ajax-search-details,
div.is-ajax-search-result {
  padding: 3px !important;
}

.is-ajax-search-details .is-title a,
.is-ajax-search-post .is-title a {
  font-family: "Manrope", sans-serif !important;
  font-size: 16px !important;
  line-height: 28px !important;
  font-weight: 500 !important;
  color: var(--primaryBlackColor) !important;
  margin: 0 !important;
}

.is-ajax-search-details .is-title a,
.is-ajax-search-post .is-title a:hover {
  color: var(--redColor) !important;
}

.is-ajax-result-description {
  font-family: "Manrope", sans-serif !important;
  font-size: 14px !important;
  line-height: 26px !important;
  font-weight: 500 !important;
  color: var(--primaryBlackColor) !important;
  margin: 0 !important;
}

.is-ajax-search-post-details:last-child,
.is-ajax-search-posts .is-ajax-search-post:last-child {
  padding: 10px !important;
  padding-bottom: 5px !important;
}

/* end */

.active-menu-link {
  border-bottom: 1px solid var(--redColor);
}

.active-menu-link a {
  color: var(--redColor) !important;
}

.single-products .product-page .active-menu-link a {
  color: #fff !important;
}

.search-results .header .main-header {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.search-results .bpmt {
  margin-top: 130px;
}

/* error */

.thankyou-banner {
  background-color: var(--primaryBlackColor);
  min-height: 500px;
  display: flex;
  align-items: center;
}

.thankyou-banner h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  margin-bottom: 32px;
}

.thankyou-banner a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  display: inline-block;
  padding: 12px 36px;
  border: 1px solid white;
  text-decoration: none;
}

.thankyou-banner a:hover {
  color: var(--whiteColor);
  text-decoration: underline;
}

/* end */

/* g forms */

.gform_title {
  display: none;
}

footer .footer-form input,
footer .footer-form textarea {
  width: 100% !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid var(--primaryBlackColor) !important;
  font-size: 16px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--primaryBlackColor) !important;
  margin: 0 !important;
  padding: 8px 0 !important;
  margin-bottom: 12px !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

footer .footer-form input::placeholder,
footer .footer-form textarea::placeholder {
  font-size: 16px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--primaryBlackColor) !important;
}

footer .footer-form input.primary-button {
  background-color: transparent;
}

footer .footer-form input.primary-button:hover {
  background-color: var(--redColor);
  color: var(--whiteColor);
}

footer .footer-form input[type="submit"] {
  font-size: 16px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--redColor) !important;
  margin: 0 !important;
  border: 1px solid var(--redColor) !important;
  background-color: transparent !important;
  padding: 8px 17px !important;
  text-decoration: none !important;
  transition: 0.2s ease-in all !important;
  -webkit-transition: 0.2s ease-in all !important;
  -moz-transition: 0.2s ease-in all !important;
  -ms-transition: 0.2s ease-in all !important;
  -o-transition: 0.2s ease-in all !important;
}

footer .footer-form input[type="submit"]:hover {
  background-color: var(--redColor) !important;
  color: var(--whiteColor) !important;
}

.gform-theme--foundation .gfield textarea.large {
  min-block-size: unset !important;
}

.gform-theme--foundation .gform_fields {
  display: unset !important;
}

.gform-theme--foundation .gform_fields div:not(:last-child) {
  margin-bottom: 16px !important;
}

/* end */

#popup-form-1, #popup-form-2, #popup-form-3 {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#popup-form-1 .modal-dialog, #popup-form-2 .modal-dialog, #popup-form-3 .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 480px;
  width: 100%;
  transform: translate(-50%, -50%);
}

#popup-form-1 h4, #popup-form-2 h4, #popup-form-3 h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--primaryBlackColor);
}

#popup-form-1 input, #popup-form-2 input, #popup-form-3 input {
  font-size: 16px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--primaryBlackColor) !important;
  box-shadow: none !important;
}

#popup-form-1 input[type="submit"], #popup-form-2 input[type="submit"], #popup-form-3 input[type="submit"] {
  font-size: 16px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--redColor) !important;
  margin: 0 !important;
  border: 1px solid var(--redColor) !important;
  background-color: transparent !important;
  padding: 8px 17px !important;
  text-decoration: none !important;
  transition: 0.2s ease-in all !important;
  -webkit-transition: 0.2s ease-in all !important;
  -moz-transition: 0.2s ease-in all !important;
  -ms-transition: 0.2s ease-in all !important;
  -o-transition: 0.2s ease-in all !important;
}

#popup-form-1 input[type="submit"]:hover, #popup-form-2 input[type="submit"]:hover,
#popup-form-3 input[type="submit"]:hover {
  background-color: var(--redColor) !important;
  color: var(--whiteColor) !important;
}

#popup-form-1 .close, #popup-form-2 .close, #popup-form-3 .close {
  background-color: transparent;
  outline: none;
  border: none;
}

#popup-form-1 .close span, #popup-form-2 .close span, #popup-form-3 .close span {
  font-size: 24px;
}

#popup-form-1 label.gform-field-label.gform-field-label--type-sub {
  visibility: hidden !important;
  margin-top: 0 !important;
}

#popup-form-2 label.gform-field-label.gform-field-label--type-sub {
  visibility: hidden !important;
  margin-top: 0 !important;
}

#popup-form-3 label.gform-field-label.gform-field-label--type-sub {
  visibility: hidden !important;
  margin-top: 0 !important;
}

.additional_link {
  cursor: pointer;
}

/* gfrom */

.single-post .gform-field-label {
  visibility: hidden !important;
  margin: 0 !important;
}

/* end */

.wiw {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

.wiw img {
  max-width: 50px;
}

@media (max-width: 1199px) {
  .header .top-header .top-tagline,
  .header .top-header .top-contact-details p,
  .header .top-header .top-contact-details p a {
    font-size: 14px;
    line-height: 26px;
  }

  .header .top-header .top-contact-details {
    margin-right: 30px;
  }

  .header .search-contact button {
    font-size: 14px;
    line-height: 28px;
    padding: 20px 25px;
  }

  .search-contact div {
    padding: 0 20px;
  }

  .header .main-header .main-logo {
    max-width: 130px;
    margin-right: 25px;
  }

  .header .main-header .header-menu-links ul.hv > li a {
    font-size: 14px;
    line-height: 28px;
  }

  .header .main-header .header-menu-links {
    margin-right: 25px;
  }

  .search-contact div img {
    width: 15px;
  }

  .header .main-header .header-menu-links ul.hv > li a {
    font-size: 18px;
    line-height: 32px;
  }
}

@media (max-width: 1110px) {
  .header .top-header .top-details,
  .header .main-header.d-header {
    display: none;
  }

  .sticky-cta {
    display: none;
  }

  .header .top-header {
    justify-content: center;
  }

  .header .main-header.m-header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1077px) {
  .header .top-header .top-details,
  .header .main-header.d-header {
    display: none;
  }

  .sticky-cta {
    display: none;
  }

  .header .top-header {
    justify-content: center;
  }

  .header .main-header.m-header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .main-banner h2 {
    font-size: 48px;
    line-height: 60px;
  }

  .header .main-header .header-menu-links {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .header .top-header .top-details,
  .header .main-header.d-header {
    display: none;
  }

  .sticky-cta {
    display: none;
  }

  .header .top-header .top-tagline {
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }

  .main-banner {
    min-height: 280px;
    background-position: 75% center;
  }

  .main-banner h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .header .top-header {
    justify-content: center;
  }

  .mt {
    margin-top: 40px;
  }

  footer {
    padding: 40px 0;
  }

  footer h4 {
    font-size: 20px;
    line-height: 32px;
  }

  footer .footer-contact-details {
    justify-content: space-between;
  }

  footer .footer-contact-details div {
    width: 48%;
  }

  footer .footer-contact-details div h5 {
    font-size: 16px;
    line-height: 28px;
  }

  footer .footer-contact-details div p,
  footer .footer-contact-details div ul li,
  footer .footer-contact-details div ul li a {
    font-size: 14px;
    line-height: 26px;
  }

  footer h6 {
    font-size: 48px;
    line-height: 60px;
    margin-top: 25px;
    display: none;
  }

  footer .col-md-5 {
    margin-top: 40px;
  }

  footer .footer-form {
    padding: 16px 20px;
  }

  footer .footer-form h4 {
    font-size: 24px;
    line-height: 36px;
  }

  footer .footer-links .footer-logo {
    margin-right: 20px;
  }

  footer .footer-links .footer-logo img {
    width: 100px;
    max-width: unset;
  }

  footer .footer-links .f-links ul {
    flex-wrap: wrap;
  }

  footer .footer-links .f-links ul li:not(:last-child) {
    min-width: 85px;
    margin-right: 16px;
    margin-bottom: 8px;
  }

  footer h6.since-text-scnd {
    display: block !important;
    text-align: center;
  }

  footer .map,
  footer .footer-links {
    margin-top: 25px;
  }

  footer .footer-links .f-links ul li a {
    font-size: 14px;
    line-height: 26px;
  }

  .header .main-header {
    padding: 16px 20px;
  }

  .header .main-header.m-header {
    display: flex;
  }

  .header .main-header .header-menu-links ul.hv > li:hover {
    border-bottom: 0;
  }

  .search-bar {
    height: 95px;
  }

  .search-bar img {
    margin-right: 20px;
  }

  .search-bar img.close-search-bar {
    margin-right: 0;
  }

  .mfp-container iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .header .main-header {
    top: 38px;
  }

  .thankyou-banner {
    min-height: 380px;
  }

  .thankyou-banner h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .thankyou-banner a {
    font-size: 14px;
    line-height: 22px;
  }
}
