.contact-details h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: #0e0e0e;
  margin: 0;
}

.contact-details h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 22px;
}

.contact-details .details {
  margin-top: 20px;
}

.contact-details .details h6 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-bottom: 8px;
}

.contact-details .details span a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
  text-decoration: none;
}

.contact-details .details span img {
  margin-right: 8px;
}

.contact-details .details span.mail {
  min-width: 280px;
  display: inline-block;
}

.contact-details .details span.phone {
  display: inline-block;
}

@media (max-width: 1399px) {
  .contact-details .details span.mail {
    min-width: 250px;
  }
}

@media (max-width: 991px) {
  .contact-details .col-lg-6:first-child {
    order: 2;
    margin-top: 28px;
    text-align: center;
  }

  .contact-details .col-lg-6:last-child {
    order: 1;
  }
}

@media (max-width: 767px) {
  .contact-details .col-lg-6:first-child {
    order: 2;
    margin-top: 28px;
  }

  .contact-details .col-lg-6:last-child {
    order: 1;
  }

  .contact-details h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .contact-details h5 {
    margin-top: 16px;
  }

  .contact-details .details span.mail,
  .contact-details .details span.phone {
    display: block;
  }

  .contact-details .details span.mail {
    margin-bottom: 10px;
  }
}
