.crane-maintenance .items h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 16px;
  min-height: 68px;
}

.crane-maintenance .items p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #60666C;
  margin: 0;
  margin-top: 8px;
  min-height: 44px;
}

.crane-maintenance a.wn {
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 16px;
  background-color: var(--primaryBlackColor);
  padding: 8px 60px;
  display: inline-block;
  text-decoration: none;
}

.crane-maintenance .row .col-lg-4 {
  margin-bottom: 40px;
}

.hideVideos {
  display: none;
}

.nhv {
  display: block;
}

.active-next {
  display: block !important;
}

@media (max-width: 991px) {
  .crane-maintenance .items h4 {
    font-size: 20px;
    line-height: 32px;
    min-height: auto;
  }

  .crane-maintenance .items p {
    min-height: auto;
  }
}
