.faqs-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.faqs-section .accordion {
  margin-top: 40px;
}

.faqs-section .accordion-item .accordion-header button {
  background-color: #f9f9f9;
  font-family: "Manrope", sans-serif !important;
  padding: 16px 20px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #3c3c3c;
  margin: 0;
  box-shadow: none;
}

.faqs-section .accordion-item {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: none;
  outline: none;
  border: 1px solid #e0e0e0;
}

.faqs-section .accordion-item h2 button[aria-expanded="true"] {
  background-color: #f7d1c7;
}

.faqs-section .row .col-md-6 {
  margin-bottom: 16px;
}

.faqs-section .accordion-item .accordion-body p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #3c3c3c;
  margin: 0;
}

.faqs-section .accordion-button::after {
  background-image: url("../images/plus.svg");
}

.faqs-section .accordion-button::after {
  background-image: url("../images/plus.svg");
}

.faqs-section .accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus.svg");
}

@media (max-width: 767px) {
  .faqs-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .faqs-section .accordion {
    margin-top: 30px;
  }
}
