:root {
  --primaryBlackColor: #121c22;
  --primaryTextColor: #D7D7D7;
  --whiteColor: #fff;
  --blackColor: #000;
  --redColor: #E66445;
  --headingColor: #17262F;
  --paragraphTextColor: #4A5257;
  --primaryBackgroundColor: #E1E6E9;
}
