.gallery-section ul li button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  min-width: 70px;
}

.gallery-section ul {
  border: none;
}

.gallery-section ul li.nav-item button.nav-link {
  outline: none;
  border: none;
}

.gallery-section ul li.nav-item button.nav-link.active {
  color: var(--redColor);
}

.gallery-section ul li.nav-item button.nav-link:hover {
  color: var(--redColor);
  border: none;
  outline: none;
}

.gallery-section .tab-content {
  margin-top: 40px;
}

.gallery-section .tab-content .tab-pane {
  columns: 4;
}

.gallery-section .tab-content .tab-pane div {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .gallery-section ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .gallery-section .tab-content .tab-pane {
    columns: 1;
  }

  .gallery-section .tab-content {
    margin-top: 30px;
  }
}
