.home-page-banner {
  position: relative;
}

.home-page-banner video {
  height: 635px;
  object-fit: cover;
}

.home-page-banner .overlay {
  background: linear-gradient(
    180deg,
    rgba(18, 28, 34, 0.82) 0%,
    rgba(95, 99, 101, 0) 134.54%
  );
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-page-banner .container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.home-page-banner h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

.home-page-banner p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 32px;
  margin-bottom: 40px;
}

.home-page-banner span.line {
  display: block;
  width: 85%;
  background: var(--redColor);
  height: 12px;
  margin: 0 auto;
  margin-top: -15px;
  z-index: -9;
  position: relative;
  outline: none;
  border: none;
}

.home-page-banner .home-page-banner-button {
  background: transparent;
  border: 2px solid var(--redColor);
  display: inline-block;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

.home-page-banner .home-page-banner-button a {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
  padding: 14px 40px;
  text-decoration: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

.home-page-banner .home-page-banner-button div {
  display: inline-block;
  background-color: var(--redColor);
  padding: 14px 20px;
  outline: none;
  border: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
  /* min-height: 58px; */
  border: 3px solid var(--redColor);
}

.home-page-banner .home-page-banner-button:hover {
  background-color: var(--redColor);
}

.home-page-banner .home-page-banner-button:hover a {
  background-color: var(--redColor);
}

.home-page-banner .home-page-banner-button:hover div img {
  transform: rotate(32deg);
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
}

.points {
  background-color: var(--primaryBlackColor);
  padding: 30px 0;
  margin-top: -6px;
}

.points .items {
  display: flex;
  align-items: center;
}

.points .items img {
  max-width: 40px;
}

.points .items p {
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  margin-left: 12px;
}

.about-us-section h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.about-us-section h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--headingColor);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.about-us-section p.hb {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--headingColor);
  margin: 0;
  margin-bottom: 16px;
}

.about-us-section p.nt {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-bottom: 24px;
}

.about-us-internal-sec {
  background-image: url("../images/vector-shape.svg");
  /* width: 100%; */
  position: absolute;
  left: 20px;
  top: 0;
  /* background-color: var(--primaryBlackColor); */
  padding: 15px;
  background-repeat: no-repeat;
  width: 149px;
  height: 232px;
  padding-top: 35px;
}

.about-us-internal-sec div:not(:first-child) {
  margin-top: 16px;
}

.about-us-internal-sec h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #d9d9d9;
  margin: 0;
}

.about-us-internal-sec h5 span {
  color: var(--redColor);
}

.about-us-internal-sec p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
}

.secondary-button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  background-color: transparent;
  margin: 0;
  border: 1px solid var(--redColor);
  padding: 8px 17px;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.secondary-button:hover {
  background-color: var(--redColor);
  color: var(--whiteColor);
}

.primary-button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color: var(--redColor);
  color: var(--whiteColor);
  margin: 0;
  border: 1px solid var(--redColor);
  padding: 8px 17px;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  cursor: pointer;
}

.primary-button:hover {
  /* background-color: var(--redColor); */
  background-color: transparent;
  color: var(--redColor);
}

.tertiary-button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  /* background-color: var(--redColor); */
  color: var(--redColor);
  margin: 0;
  border: none;
  padding: 0;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.tertiary-button:hover {
  /* background-color: var(--redColor); */
  color: var(--redColor);
}

.about-us-slider {
  margin-top: 50px;
}

.about-us-slider div img {
  text-align: center;
  margin: 0 auto;
  max-width: 100px;
}

.products-section {
  background-color: var(--primaryBackgroundColor);
  padding: 60px 0;
}

.products-section h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.products-section h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--headingColor);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 32px;
}

.products-section .row .col-md-6 p:first-child {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--headingColor);
  margin: 0;
}

.products-section .row .col-md-6 p:last-child {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-top: 16px;
}

.products-section .row:nth-child(2) {
  margin-top: 80px;
}

.products-section .row:nth-child(2) .col-lg-4 {
  margin-bottom: 32px;
}

.products-section .p-overlay {
  background: rgba(18, 28, 34, 0.9);
  position: absolute;
  top: 76%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  overflow-y: scroll;
}

.products-section .p-overlay::-webkit-scrollbar {
  display: none;
  width: 4px;
}

.products-section .p-overlay::-webkit-scrollbar-track {
  display: none;
  background-color: #e4e4e4;
  border-radius: 100px;
}

.products-section .p-overlay::-webkit-scrollbar-thumb {
  display: none;
  background-image: linear-gradient(180deg, var(--primaryTextColor) 0%, var(--primaryBlackColor) 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.products-section .p-overlay h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
}

.products-section .p-overlay p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 28px;
  margin-bottom: 16px;
}

.products-section .p-overlay a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
  text-decoration: none;
}

.products-section .col-lg-4 div.p-rel {
  transition: .2s ease-in all;
  -webkit-transition: .2s ease-in all;
  -moz-transition: .2s ease-in all;
  -ms-transition: .2s ease-in all;
  -o-transition: .2s ease-in all;
}

.products-section .col-lg-4 div.p-rel:hover .p-overlay {
  top: 0;
}

/* .products-section .p-overlay:hover {
  top: 0;
} */

.products-section .p-overlay div img {
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.products-section .p-overlay:hover img {
  transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotate(70deg);
}

.products-section .p-overlay > div {
  min-height: 60px;
}

.products-section .row:nth-child(3) {
  margin-top: 30px;
}

.products-section .home-page-banner-button a {
  color: var(--primaryBlackColor);
}

.innovative-solutions {
  padding-bottom: 60px;
  overflow-x: hidden;
}

.innovative-solutions .innovative-items {
  text-align: center;
}

.innovative-solutions h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--headingColor);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 32px;
}

.innovative-solutions .row:nth-child(2) {
  margin-top: 50px;
}

.innovative-solutions p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
  text-align: center;
}

.innovative-solutions .row:nth-child(2) .col-md-3 {
  margin-bottom: 44px;
}

.innovative-background-image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.RightToLeft {
  animation: RightToLeft 15s infinite linear;
  -webkit-animation: RightToLeft 15s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}


.moving-text {
  white-space: nowrap;
  margin: 0 2em;
  margin-top: 30px;
}

.moving-text span {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  color: var(--redColor);
  text-align: center;
  letter-spacing: -1.6px;
  display: inline-block;
  text-transform: capitalize;
}

.moving-text span:not(:last-child) {
  margin-right: 20px;
}

.services-section {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 65px 0;
}

.services-section h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.services-section h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--headingColor);
  margin: 0;
  margin-top: 8px;
  margin-bottom: 16px;
}

.services-section p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #1f2428;
  margin: 0;
}

.services-section img.main-image {
  border-top: 7px solid var(--redColor);
  border-left: 7px solid var(--redColor);
}

.services-section .image-text {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -40px;
  background: white;
  width: 80%;
  padding: 10px 30px;
  right: -10px;
  border-top: 5px solid var(--redColor);
  border-left: 5px solid var(--redColor);
}

.services-section .image-text p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--blackColor);
  margin: 0;
}

.services-section .image-text img {
  margin-right: 15px;
}

.services-section .service-buttons {
  margin-top: 24px;
}

.services-section .service-buttons a {
  min-width: 231px;
  display: inline-block;
  text-align: center;
}

.services-section .service-buttons a:first-child {
  margin-right: 10px;
}

.projects-completed {
  background-color: var(--primaryBlackColor);
  padding: 80px 0;
}

.projects-completed h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

.projects-completed h6 {
  font-size: 120px;
  line-height: 130px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--redColor);
  text-align: right;
  /* padding-right: 80px; */
}

.projects-completed p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 8px;
  text-align: right;
  /* position: absolute;
  top: 35%;
  right: 0;
  transform: rotate(90deg); */
}

.case-study-section {
  overflow-x: hidden;
}

.case-study-section .content {
  position: absolute;
  left: 0;
  /*top: 0;
  */
  right: 0;
  bottom: -27%;
  background: transparent;
  background-color: var(--primaryBlackColor);
  padding: 16px 24px;
  padding-bottom: 40px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.case-study-section .content h3 {
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--redColor);
}

.case-study-section .content p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 24px;
  min-height: 64px;
}

.case-study-section .cs-items {
  max-height: 580px;
}

.case-study-section .cs-items:hover .content {
  bottom: 0;
  background-color: var(--primaryBlackColor);
}

.usps-section {
  padding-bottom: 200px;
}

.usps-section h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.usps-section h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
}

.usps-section .row:nth-child(2) {
  margin-top: 50px;
}

.usps-section .row:nth-child(2) .col-lg-3 {
  margin-bottom: 32px;
}

.usps-section .usps-items {
  border: 1px solid #cdcdcd;
  border-top: 0;
  background: transparent;
  border-top: 7px solid var(--redColor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 22px 16px;
  padding-bottom: 42px;
  min-height: 504px;
  background-color: white;
}

.usps-section .usps-items h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 16px;
}

.usps-section .usps-items p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-top: 16px;
}

.usps-section .usps-items img.usps-bg-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: none;
}

.usps-bg-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 389px;
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.worldwide-section {
  background-color: var(--primaryBlackColor);
  padding: 60px 0;
}

.worldwide-section h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

.worldwide-section h6 {
  font-size: 120px;
  line-height: 130px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--redColor);
  text-align: right;
  /* padding-right: 95px; */
}

.worldwide-section p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 8px;
  text-align: right;
  /* position: absolute;
  top: 35%;
  right: 0;
  transform: rotate(90deg); */
}

.worldwide-section .world-map {
  margin-top: 50px;
  padding: 0 20px;
}

.testimonials {
  padding: 60px 0;
}

.testimonials h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.testimonials h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
}

.testimonials .row:nth-child(2) {
  margin-top: 50px;
}

.testimonials .items div div.play-icon {
  width: 60px;
  height: 70px;
  position: absolute;
  right: 0;
  bottom: -10px;
  cursor: pointer;
}

.testimonials .items div div.play-icon a img {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.testimonials .slick-list {
  margin: 0 -9px;
}

.testimonials .slick-slide {
  margin: 0 9px;
}

.mfp-content {
  width: auto !important;
}

.mfp-close {
  right: -40px !important;
  color: #fff !important;
}

.testimonials h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 20px;
}

.testimonials p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-top: 8px;
}

.testimonials.tp .rg {
  row-gap: 40px;
}

.industry-testimonial {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.industry-testimonial h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

.industry-testimonial .row:nth-child(2) {
  margin-top: 50px;
}

.industry-testimonial .items {
  background-color: var(--primaryBlackColor);
  padding: 60px 60px;
  padding-top: 30px;
}

.industry-testimonial .items img {
  margin-left: -25px;
}

.industry-testimonial .items p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  min-height: 150px;
  margin-top: 25px;
  margin-bottom: 16px;
}

.industry-testimonial .items h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.industry-testimonial .items h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
}

.industry-testimonial .slick-list {
  margin: 0 -7.5px;
}

.industry-testimonial .slick-slide {
  margin: 0 7.5px;
}

.industry-testimonial ul.slick-dots,
.testimonials ul.slick-dots {
  margin-top: 40px;
  bottom: -50px;
}

.industry-testimonial ul.slick-dots li,
.testimonials ul.slick-dots li {
  margin: 0 10px;
}

.industry-testimonial ul.slick-dots li button {
  background-color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonials ul.slick-dots li button {
  background-color: var(--primaryBlackColor);
  border: 1px solid var(--primaryBlackColor);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.industry-testimonial ul.slick-dots li.slick-active button,
.testimonials ul.slick-dots li.slick-active button {
  background-color: transparent;
}

.fulfilling-section {
  padding: 48px 0;
}

.fulfilling-section h3 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--redColor);
}

.awards-section {
  background-color: var(--primaryBlackColor);
  padding: 60px 0;
}

.awards-section .container-fluid {
  padding-left: 90px;
}

.awards-section h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

.awards-section h6 {
  font-size: 120px;
  line-height: 130px;
  font-weight: 700;
  color: var(--redColor);
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--redColor);
  text-align: right;
  /* padding-right: 70px; */
}

.awards-section p.as-tagline {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 8px;
  text-align: right;
  /* position: absolute;
  top: 35%;
  right: 0;
  transform: rotate(90deg); */
}

.awards-section .row:nth-child(2),
.awards-section .container-fluid {
  margin-top: 50px;
}

.awards-section .awards-slider .items {
  background-color: var(--primaryBackgroundColor);
  padding: 16px 20px;
  /* min-height: 354px; */
}

.awards-section .awards-slider .slick-list {
  margin: 0 -17px;
  padding-left: 0 !important;
}

.awards-section .awards-slider .slick-slide {
  margin: 0 17px;
  margin-left: 0;
}

.awards-section .awards-slider .slick-slide img {
  max-height: 160px;
}

.awards-section h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-bottom: 16px;
}

.awards-section .awards-slider p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 24px;
  min-height: 90px;
}

.blog-section {
  background-color: var(--whiteColor);
  padding: 60px 0;
}

.blog-section h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
}

.blog-section h3 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
}

.blog-section .blog-slider .items {
  background: #fefefe;
  box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 16px;
  padding-bottom: 24px;
}

.blog-section .row.row:nth-child(2) {
  margin-top: 30px;
}

.blog-section .blog-slider .items > div {
  display: flex;
  justify-content: space-between;
}

.blog-section .blog-slider .items > div span {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
}

.blog-section .blog-slider .items > div span:nth-child(2) {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
}

.blog-section .blog-slider .items h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.blog-section .slick-list {
  margin: 0 -18px;
}

.blog-section .slick-slide {
  margin: 0 18px;
}

.blog-section .slick-track {
  padding: 25px 0;
}

.blog-bg-img {
  position: absolute;
  left: -15px;
  bottom: 0;
}

.blog-bg-img2 {
  position: absolute;
  right: -30px;
  bottom: -80px;
}

.blog-section .row.row:nth-child(3) {
  margin-top: 40px;
}

.call-expert {
  /* background-color: var(--primaryBlackColor); */
  background-image: url("../images/call-expert-bg.svg");
  width: 100%;
  background-repeat: repeat no-repeat;
  /* background-size: cover; */
  padding: 40px 0;
}

.call-expert h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
}

.call-expert .row:nth-child(2) {
  margin-top: 30px;
  border: 1px solid var(--primaryBlackColor);
  background-color: var(--whiteColor);
  align-items: center;
}

.call-expert .row:nth-child(2) .col-lg-7 {
  background-color: var(--whiteColor);
  padding: 24px 34px;
  padding-bottom: 44px;
}

.call-expert .row:nth-child(3) {
  margin-top: 60px;
}

.call-expert h4 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--blackColor);
  margin: 0;
}

.call-expert p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
  margin-top: 8px;
}

.call-expert ul {
  margin-top: 30px;
  margin-bottom: 30px;
}

.call-expert ul li {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
  margin-top: 8px;
}

.call-expert h6 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: var(--blackColor);
  margin: 0;
  margin-top: 16px;
}

.call-expert h6 span {
  color: var(--redColor);
}

/* .rowss {
  transform: translateY(30%);
  -webkit-transform: translateY(30%);
  -moz-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -o-transform: translateY(30%);
} */

.shmt {
  margin-top: 55px !important;
}

.blog-section ul.slick-dots li {
  margin: 0 10px;
}

.blog-section ul.slick-dots li button {
  background-color: var(--primaryBlackColor);
  border: 1px solid var(--primaryBlackColor);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.blog-section ul.slick-dots li.slick-active button {
  background-color: transparent;
}

@media (max-width: 1399px) {
  .awards-section .container-fluid {
    padding-left: 160px;
  }
}

@media (max-width: 1299px) {
  .awards-section .container-fluid {
    padding-left: 110px;
  }
}

@media (max-width: 1199px) {
  .awards-section .container-fluid {
    padding-left: 150px;
  }
}

@media (max-width: 1099px) {
  .awards-section .container-fluid {
    padding-left: 105px;
  }
}

@media (max-width: 991px) {
  .points .col-md-6:first-child,
  .points .col-md-6:nth-child(2) {
    margin-bottom: 40px;
  }

  .about-us-section .col-lg-6:last-child {
    margin-top: 24px;
  }

  .about-us-section h2,
  .products-section h3,
  .innovative-solutions h3,
  .moving-text span,
  .services-section h3,
  .projects-completed h3,
  .usps-section h3,
  .worldwide-section h3,
  .testimonials h3,
  .awards-section h3,
  .blog-section h3 {
    font-size: 34px;
    line-height: 46px;
  }

  .products-section .p-overlay {
    overflow-y: scroll;
  }

  .innovative-solutions p {
    font-size: 18px;
    line-height: 30px;
  }

  .services-section .col-lg-6:last-child {
    margin-top: 32px;
  }

  .projects-completed .col-lg-5,
  .worldwide-section .col-lg-4,
  .awards-section .col-lg-4 {
    margin-top: 24px;
  }

  .projects-completed h6,
  .worldwide-section h6,
  .awards-section h6 {
    text-align: left;
    padding-right: 0;
    font-size: 90px;
    line-height: 102px;
  }

  .case-study-section .content h3 {
    font-size: 80px;
  }

  .case-study-section .content p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }

  .industry-testimonial .items {
    padding: 60px 36px;
  }

  .industry-testimonial .items p,
  .industry-testimonial .items h5,
  .industry-testimonial .items h6 {
    font-size: 16px;
    line-height: 28px;
  }

  .industry-testimonial .items h6 {
    margin-top: 8px;
  }

  .fulfilling-section h3 {
    font-size: 60px;
  }

  .awards-section .container-fluid {
    padding-left: 60px;
  }

  .blog-section .blog-slider .items h4 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .call-expert ul li {
    font-size: 18px;
  }

  .call-expert h6 {
    font-size: 22px;
    line-height: 36px;
  }

  .call-expert {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .about-us-internal-sec {
    display: flex;
    width: 100%;
    /* min-width: 300px; */
    height: auto;
    left: 0;
    justify-content: space-around;
    background-color: var(--primaryBlackColor);
    padding-top: 20px;
  }

  .about-us-internal-sec div:not(:first-child) {
    margin-top: 0;
  }

  .home-page-banner h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .home-page-banner span.line {
    height: 6px;
  }

  .home-page-banner p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 28px;
    margin-bottom: 32px;
  }

  .home-page-banner .home-page-banner-button a {
    font-size: 14px;
    line-height: 22px;
  }

  .points .items p {
    font-size: 14px;
    line-height: 22px;
  }

  .points .col-md-3:first-child,
  .points .col-md-3:nth-child(2) {
    margin-bottom: 20px;
  }

  .points .items img {
    width: 30px;
  }

  .about-us-internal-sec h5 {
    font-size: 20px;
    line-height: 28px;
  }

  .about-us-section h6 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }

  .about-us-section h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .about-us-section p.hb,
  .about-us-section p.nt {
    font-size: 16px;
    line-height: 28px;
  }

  .products-section {
    padding: 30px 0;
  }

  .products-section h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .products-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .products-section .row:first-child .col-md-6:first-child .primary-button {
    display: none;
  }

  .products-section .row .col-md-6 p:first-child,
  .products-section .row .col-md-6 p:last-child {
    font-size: 16px;
    line-height: 28px;
  }

  .products-section .row:nth-child(2) {
    margin-top: 45px;
  }

  .innovative-solutions h3 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .innovative-solutions .row:nth-child(2) {
    margin-top: 40px;
  }

  .innovative-solutions p {
    font-size: 16px;
    line-height: 28px;
  }

  .innovative-solutions .row:nth-child(2) .col-md-3 {
    margin-bottom: 32px;
  }

  .innovative-background-image {
    left: -80px;
    bottom: -50px;
  }

  .innovative-solutions {
    overflow: hidden;
    padding-bottom: 40px;
  }

  .moving-text span {
    font-size: 20px;
    line-height: 32px;
  }

  .moving-text {
    margin-top: 10px;
  }

  .services-section {
    padding: 30px 0;
  }

  .services-section h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .services-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .services-section .image-text {
    width: 90%;
    right: -5px;
    padding: 10px 10px;
  }

  .services-section .image-text p {
    font-size: 14px;
    line-height: 26px;
  }

  .services-section .image-text img {
    width: 40%;
    margin-right: 12px;
  }

  .services-section p {
    font-size: 16px;
    line-height: 28px;
  }

  .services-section .service-buttons {
    margin-top: 16px;
  }

  .projects-completed {
    padding: 32px 0;
  }

  .projects-completed h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .projects-completed h6 {
    font-size: 60px;
    line-height: 72px;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .projects-completed p {
    position: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }

  .projects-completed p {
    font-size: 14px;
    line-height: 26px;
  }

  .projects-completed p br {
    display: none;
  }

  .case-study-section .cs-items .content {
    bottom: 0;
    background-color: var(--primaryBlackColor);
  }

  .case-study-section .content h3 {
    font-size: 70px;
    line-height: 82px;
  }

  .case-study-section .content p {
    font-size: 24px;
    line-height: 36px;
  }

  .usps-section h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .usps-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .usps-section .row:nth-child(2) {
    margin-top: 35px;
  }

  .usps-section .usps-items {
    padding: 16px 12px;
    min-height: auto;
    padding-bottom: 16px;
  }

  .usps-section .usps-items img {
    width: 50px;
  }

  .usps-section .usps-items h4 {
    font-size: 18px;
    line-height: 30px;
  }

  .usps-section .usps-items p {
    font-size: 14px;
    line-height: 26px;
  }

  .usps-section .usps-items img.usps-bg-icon {
    display: none;
  }

  .usps-section .row:nth-child(2) .col-lg-3 {
    margin-bottom: 28px;
  }

  .usps-section {
    padding-bottom: 90px;
  }

  .worldwide-section {
    padding: 40px 0;
  }

  .worldwide-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .worldwide-section h6 {
    font-size: 70px;
    line-height: 82px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .worldwide-section p {
    font-size: 14px;
    line-height: 22px;
    position: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }

  .worldwide-section p br {
    display: none;
  }

  .testimonials {
    padding: 40px 0;
  }

  .testimonials h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .testimonials h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .testimonials .row:nth-child(2) {
    margin-top: 40px;
  }

  .testimonials h6 {
    font-size: 18px;
    line-height: 30px;
  }

  .testimonials p {
    font-size: 16px;
    line-height: 28px;
  }

  .testimonials .testimonial-slider .slick-list {
    padding-left: 0 !important;
  }

  .industry-testimonial {
    padding: 40px 0;
  }

  .industry-testimonial h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .industry-testimonial .row:nth-child(2) {
    margin-top: 40px;
  }

  .industry-testimonial .items {
    padding: 40px 22px;
  }

  .industry-testimonial .items img {
    margin-left: 0;
  }

  .industry-testimonial .items p,
  .industry-testimonial .items h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .industry-testimonial .items h5 {
    font-size: 14px;
    line-height: 26px;
  }

  .fulfilling-section h3 {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
  }

  .fulfilling-section {
    padding: 40px 0;
  }

  .awards-section {
    padding: 40px 0;
  }

  .awards-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .awards-section h6 {
    font-size: 70px;
    line-height: 82px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .awards-section p.as-tagline {
    font-size: 14px;
    line-height: 22px;
    position: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }

  .awards-section p.as-tagline br {
    display: none;
  }

  .awards-section .row:nth-child(2),
  .awards-section .container-fluid {
    margin-top: 40px;
  }

  .awards-section .container-fluid {
    padding-left: 30px;
  }

  .blog-section {
    padding: 40px 0;
  }

  .blog-section h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .blog-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .blog-section .slick-list {
    padding-left: 0 !important;
  }

  .blog-section .blog-slider .items > div span {
    font-size: 12px;
    line-height: 24px;
  }

  .blog-section .blog-slider .items > div span:nth-child(2) {
    font-size: 12px;
    line-height: 24px;
  }

  .blog-section .blog-slider .items h4 {
    font-size: 18px;
    line-height: 30px;
  }

  .tertiary-button {
    font-size: 14px;
    line-height: 26px;
  }

  .blog-section .row.row:nth-child(2) {
    margin-top: 20px;
  }

  .call-expert h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .call-expert .row:nth-child(2) {
    border: 0.2px solid var(--primaryBlackColor);
  }

  .call-expert .row:nth-child(2) .col-lg-7 {
    order: 2;
    padding: 20px 16px;
    padding-bottom: 36px;
  }

  .call-expert .row:nth-child(2) .col-lg-5 {
    order: 1;
  }

  .call-expert h4 {
    font-size: 24px;
    line-height: 36px;
  }

  .call-expert ul li {
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
  }

  .call-expert .row:nth-child(3) {
    margin-top: 40px;
  }

  .call-expert h6 {
    font-size: 18px;
    line-height: 30px;
  }

  .call-expert {
    padding-bottom: 10px;
  }

  .about-us-section .col-lg-6:last-child {
    margin-top: 0;
  }

  .services-section .col-lg-6:last-child {
    margin-top: 0;
  }

  .projects-completed .col-lg-5, .worldwide-section .col-lg-4, .awards-section .col-lg-4 {
    margin-top: 0;
  }

  .country-lists {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .country-lists div {
    width: 49%;
  }

  .country-lists div {
    display: flex;
    align-items: center;
  }

  .country-lists div img {
    max-width: 34px;
    max-height: 22px;
    margin-right: 12px;
  }

  .country-lists div span {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: var(--whiteColor);
    margin: 0;
  }

  .country-lists div {
    margin-bottom: 24px;
  }

  .awards-section .awards-slider .items {
    padding: 16px 10px;
  }

  .awards-section .awards-slider p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
  }
}
