.all-industries h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  display: inline-block;
}

.all-industries .row:nth-child(2) {
  margin-top: 40px;
}

.all-industries .row:nth-child(2) .col-md-4 {
  margin-bottom: 32px;
}

.all-industries .industries {
  margin-bottom: 16px;
}

.all-industries .industries p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  padding: 13px;
  opacity: 0.85;
  background-color: var(--redColor);
}

.other-industries h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  display: inline-block;
}

.other-industries .row:nth-child(2) {
  margin-top: 40px;
}

.other-industries .row:nth-child(2) .col-lg-3 {
  margin-bottom: 24px;
}

.other-industries .items p {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--whiteColor);
  margin: 0;
  padding: 13px;
  opacity: 0.85;
  background: var(--redColor);
}

.industries-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
}

.fah-img {
  margin-top: 40px;
}

.industries-content h5 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 20px;
}

.industries-content table {
  width: 100%;
  margin-top: 40px;
  border: none;
  outline: none;
}

.industries-content table thead tr {
  background-color: var(--redColor);
}

.industries-content table thead tr th {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
  padding: 12px 80px;
}

.industries-content table tbody tr:nth-child(odd) {
  background: #f7d1c7;
}

.industries-content table thead tr th:not(:last-child),
.industries-content table tbody tr td:not(:last-child) {
  border-right: 1px solid var(--primaryBlackColor);
}

.industries-content table tbody tr:nth-child(even) {
  background: #f6f2f2;
}

.industries-content table tbody tr td {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
  padding: 12px 80px;
  width: 33.3%;
}

.industries-content table tbody tr td ul,
.industries-content table tbody tr td ol {
  margin: 0;
  padding: 1.5rem;
}

.industries-content table tbody tr td ul li,
.industries-content table tbody tr td ol li {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--blackColor);
  margin: 0;
}

.content-after-img {
  margin-top: 20px;
}

.text-oi {
  position: absolute;
  left: 12px;
  bottom: 30px;
  font-size: 16px !important;
  line-height: 28px !important;
  font-weight: 500 !important;
  color: var(--whiteColor) !important;
  margin: 0;
  background: linear-gradient(
    90deg,
    #1f2425 42.55%,
    rgba(67, 67, 67, 0) 96.98%
  );
  width: 70%;
  padding: 13px 24px;
}

@media (max-width: 991px) {
  .all-industries .industries p,
  .other-industries .items p {
    font-size: 16px;
    line-height: 28px;
  }

  .industries-content h5 {
    font-size: 20px;
    line-height: 32px;
  }

  .i-table {
    overflow-x: auto;
  }

  .i-table table {
    width: 160%;
    table-layout: inherit;
  }

  .text-oi {
    font-size: 14px !important;
    line-height: 26px !important;
    width: 85%;
  }
}

@media (max-width: 767px) {
  .all-industries h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .all-industries .row:nth-child(2) {
    margin-top: 30px;
  }

  .all-industries .industries p {
    font-size: 16px;
    line-height: 28px;
  }

  .all-industries .row .col-lg-4 {
    margin-bottom: 40px;
  }

  .other-industries h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .other-industries .items p {
    font-size: 14px;
    line-height: 26px;
  }

  .other-industries .row:nth-child(2) .col-lg-3 {
    padding-right: calc(var(--bs-gutter-x) * 0.3);
    padding-left: calc(var(--bs-gutter-x) * 0.3);
  }

  .industries-content p {
    font-size: 16px;
    line-height: 28px;
  }

  .fah-img {
    margin-top: 30px;
  }

  .fah-img .col-md-6:last-child {
    margin-top: 16px;
  }

  .industries-content h5 {
    font-size: 20px;
    line-height: 32px;
  }

  .industries-content table {
    margin-top: 30px;
  }

  .industries-content table thead tr th,
  .industries-content table tbody tr td {
    padding: 12px 20px;
  }

  .i-table {
    overflow-x: auto;
  }

  .i-table table {
    width: 160%;
    table-layout: inherit;
  }

  .other-industries .row:nth-child(2) {
    margin-top: 30px;
  }

  .text-oi {
    width: 90%;
  }
}
