.product-page ul {
  margin: 0;
  padding: 0;
}

.product-page ul#menu-product-sidebar li {
  transition: .2s ease-in all;
  -webkit-transition: .2s ease-in all;
  -moz-transition: .2s ease-in all;
  -ms-transition: .2s ease-in all;
  -o-transition: .2s ease-in all;
}

.product-page ul#menu-product-sidebar li:hover {
  background-color: var(--redColor);
}

.product-page ul#menu-product-sidebar li:hover a {
  color: #fff;
}

.product-page ul li {
  list-style-type: none;
  /* background-color: #f3f3f3; */
  padding: 10px 20px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  margin: 0;
  border: none;
  outline: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.product-page .sb ul li {
  background-color: #f3f3f3;
}

.product-page .sb ul li::before {
  content: "";
}

.product-page ul li::before {
  content: url("../images/product-page-tick.svg");
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.product-page ul li a {
  font-family: "Manrope", sans-serif !important;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  margin: 0;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.product-page ul li:not(:last-child) {
  margin-bottom: 8px;
}

.product-page .sdb ul li:hover,
.product-page ul li.current-menu-item {
  background-color: var(--redColor);
}

.product-details p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #555;
  margin: 0;
  margin-top: 20px;
}

.two-column {
  margin-top: 60px;
}

.two-column .col-md-5 h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.two-column .col-md-5 p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 30px;
}

.cus-content {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 30px;
}

.two-column .col-md-7 h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #2c2c2c;
  margin: 0;
}

.two-column .col-md-7 ul {
  margin: 0;
  margin-top: 20px;
}

.two-column .col-md-7 ul li {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #4a5257;
  margin: 0;
}

.customization-content {
  margin-top: 60px;
}

.customization-content h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #222;
  margin: 0;
  position: relative;
}

.customization-content h5::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  left: 0;
  bottom: -10px;
}

.col-fq {
  background-color: var(--primaryBlackColor);
  padding: 50px 40px;
  width: 100%;
  margin-top: 30px;
}

.col-fq h5 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
}

.col-fq p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 40px;
}

.customization-content p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #555;
  margin: 0;
  margin-top: 20px;
}

.customization {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 44px;
}

.customization .items {
  display: flex;
  width: 48%;
  margin-bottom: 32px;
}

.customization .items div.fc {
  width: 30px;
  height: 40px;
  margin-right: 24px;
}

.customization .items h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #222;
  margin: 0;
}

.customization .items p,
.customization .items a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #555;
  margin: 0;
  margin-top: 4px;
}

.customization .items a {
  text-decoration: none;
}

.customization .items a:hover {
  text-decoration: underline;
}

.product-page-testimonials h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.product-page-testimonials .row:nth-child(2) {
  margin-top: 40px;
}

.product-page-testimonials .items {
  background: #fff;
  /* box-shadow: 3.3091px 3.3091px 12.40911px 9.92729px rgba(0, 0, 0, 0.25); */
  /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.24); */
  box-shadow: 1px 2px 7px 7px rgba(0, 0, 0, 0.10);
  padding: 30px 24px;
  padding-top: 50px;
}

.product-page-testimonials .items img {
  position: absolute;
  top: -20px;
  left: 24px;
}

.product-page-testimonials .items h5 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: var(--redColor);
  margin: 0;
}

.product-page-testimonials .items p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-top: 16px;
  min-height: 88px;
}

.product-page-testimonials .items h6 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: var(--paragraphTextColor);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 8px;
}

.product-page-testimonials .items span {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: var(--paragraphTextColor);
  margin: 0;
}

.product-page-testimonials .slick-list {
  margin: 0 -12px;
  padding: 30px 0;
}

.product-page-testimonials .slick-slide {
  margin: 0 12px;
}

.product-page-testimonials ul.slick-dots li {
  margin: 0 5px;
}

.product-page-testimonials ul.slick-dots li button {
  background-color: #d9d9d9;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.product-page-testimonials ul.slick-dots li button:hover,
.product-page-testimonials ul.slick-dots li.slick-active button {
  background-color: var(--primaryBlackColor);
}

@media (max-width: 991px) {
  .product-page .row .col-lg-4 {
    order: 2;
    margin-top: 30px;
  }

  .product-details .row .col-lg-8 {
    order: 1;
  }

  .two-column,
  .customization-content {
    margin-top: 40px;
  }

  .two-column .col-md-7 h5 {
    font-size: 24px;
    line-height: 36px;
  }

  .two-column .col-md-7 ul li {
    font-size: 16px;
    line-height: 28px;
  }

  .col-fq h5 {
    font-size: 28px;
    line-height: 40px;
  }

  .col-fq {
    padding: 70px 40px;
  }
}

@media (max-width: 767px) {
  .product-page-testimonials .items p {
    min-height: auto;
  }
  
  .product-page .row .col-lg-4 {
    order: 2;
  }

  .product-details .row .col-lg-8 {
    order: 1;
  }

  .product-details p {
    font-size: 16px;
    line-height: 28px;
  }

  .two-column {
    margin-top: 40px;
  }

  .two-column .col-md-5 p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
  }

  .two-column .col-md-5 {
    margin-top: 24px;
  }

  .two-column .col-md-7 ul li {
    font-size: 16px;
    line-height: 28px;
  }

  .customization-content {
    margin-top: 40px;
  }

  .customization-content p {
    font-size: 16px;
    line-height: 28px;
  }

  .customization .items {
    width: 100%;
  }

  .customization .items:not(:last-child) {
    margin-bottom: 32px;
  }

  .customization .items p,
  .customization .items a {
    margin-top: 12px;
  }

  .product-page .row .col-lg-4 {
    display: none;
  }

  .product-page-testimonials .row:nth-child(2) {
    margin-top: 30px;
  }

  .product-page-testimonials .slick-list {
    padding-top: 30px !important;
    padding-left: 0 !important;
    padding-bottom: 30px !important;
  }

  .product-page-testimonials .slick-list {
    margin: 0 -8px;
  }

  .product-page-testimonials .slick-slide {
    margin: 0 8px;
  }

  .product-page-testimonials .items {
    padding: 24px 16px;
    padding-top: 36px;
  }

  .col-fq h5 {
    font-size: 24px;
    line-height: 36px;
  }

  .col-fq {
    padding: 40px 24px;
  }
}
