.services-page-section p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
}

.services-page-section .row:nth-child(2) {
  margin-top: 40px;
}

.services-page-section h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--whiteColor);
  margin: 0;
  padding: 18px 14px;
  background-color: var(--primaryBlackColor);
}

.services-page-section .row:nth-child(2) .col-lg-3 {
  margin-bottom: 24px;
}

.contact-details-section .row {
  background-color: #f7d1c7;
  align-items: center;
}

.contact-details-section .row .col-md-6,
.contact-details-section .row .col-md-3:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-details-section .row .col-md-3:last-child {
  /* width: unset; */
  align-items: center;
}

.contact-details-section .row .col-md-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.contact-details-section .row .col-md-6 h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-bottom: 25px;
}

.contact-details-section .row .col-md-6 div {
  display: flex;
}

.contact-details-section .row .col-md-6 div p,
.contact-details-section .row .col-md-6 div a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.contact-details-section .row .col-md-6 div a {
  text-decoration: none;
  font-weight: 500;
}

.contact-details-section .row .col-md-6 div p:first-child {
  margin-right: 20px;
}

.contact-details-section .secondary-button {
  background-color: var(--whiteColor);
  color: var(--redColor);
  border: 1px solid var(--whiteColor);
  padding: 10px 32px;
}

.new-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 340px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .contact-details-section .row .col-md-6 h4 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .contact-details-section .row {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .services-page-section p {
    font-size: 16px;
    line-height: 28px;
  }

  .services-page-section .row:nth-child(2) {
    margin-top: 30px;
  }

  .contact-details-section .row .col-md-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .contact-details-section .row .col-md-6 h4 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 20px;
  }

  .contact-details-section .row .col-md-3:last-child {
    padding-bottom: 24px;
    margin-top: 24px;
  }

  .contact-details-section .row .col-md-6 h4 {
    margin-bottom: 20px;
  }

  .contact-details-section .row {
    padding: 0 0;
  }

  .contact-details-section .row .col-md-6 h4 {
    font-size: 18px;
    line-height: 30px;
  }
}
