.training-and-workshops-section h5 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--redColor);
  margin: 0;
}

.training-and-workshops-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
  margin-top: 4px;
}

.training-and-workshops-section h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--redColor);
  margin: 0;
  margin-top: 4px;
}

.training-and-workshops-section p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #4a5257;
  margin: 0;
}

/* .training-and-workshops-section .row:not(:first-child) {
  margin-top: 28px;
} */

.training-and-workshops-section .row.images-row {
  margin-top: 28px;
  margin-bottom: 28px;
}

.training-and-workshops-section .container {
  padding: 40px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
}

.training-and-workshops-section .slick-list {
  margin: 0 -10px;
}

.training-and-workshops-section .slick-slide {
  margin: 0 10px;
}

.training-and-workshops-section .slick-track {
  margin-left: 0;
}

.community-member-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.community-member-section .row:nth-child(2) {
  margin-top: 28px;
}

.community-member-section .items {
  background-color: var(--whiteColor);
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.25));
  padding: 32px 20px;
}

.community-member-section .items h6 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: var(--primaryBlackColor);
  color: #161616;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.community-member-section .items p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--primaryBlackColor);
  margin: 0;
}

.video-feedbacks-section h3 {
  font-size: 34px;
  line-height: 54px;
  font-weight: 700;
  color: var(--primaryBlackColor);
  margin: 0;
}

.video-feedbacks-section .row:nth-child(2) {
  margin-top: 28px;
}

.video-feedbacks-section .slick-list {
  margin: 0 -10px;
}

.video-feedbacks-section .slick-slide {
  margin: 0 10px;
}

.video-feedbacks-section h6,
.video-feedbacks-section a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: var(--whiteColor);
  margin: 0;
  margin-top: 16px;
  background-color: var(--primaryBlackColor);
  padding: 8px 60px;
  display: inline-block;
  text-decoration: none;
}

.video-feedbacks-section a {
  font-size: 14px;
  line-height: 28px;
}

.yi {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.training-and-workshops-section .slick-list {
  padding-left: 0 !important;
}

@media (max-width: 991px) {
  .training-and-workshops-section p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .page-template-training-workshops .mt {
    margin-top: 0;
  }

  .training-and-workshops-section .container {
    /* padding-top: 0;
    padding-bottom: 0; */
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    border-bottom: 0.5px solid #000;
  }

  .training-and-workshops-section h5,
  .training-and-workshops-section h6 {
    font-size: 16px;
    line-height: 28px;
  }

  .training-and-workshops-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .training-and-workshops-section .row.images-row {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .training-and-workshops-section .slick-list {
    margin: 0 -5px;
  }

  .training-and-workshops-section .slick-slide {
    margin: 0 5px;
  }

  .training-and-workshops-section .container .row .col-md-6:last-child {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .training-and-workshops-section p {
    font-size: 16px;
    line-height: 28px;
  }

  .community-member-section {
    margin-top: 40px !important;
  }

  .community-member-section h3,
  .video-feedbacks-section h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .community-member-section .items {
    padding: 24px 16px;
  }

  .community-member-section .row .col-md-6 {
    margin-bottom: 24px;
  }

  .video-feedbacks-section {
    margin-top: 16px !important;
  }

  .video-feedbacks-section h3 br {
    display: none;
  }

  .page-template-training-workshops footer {
    margin-top: 40px !important;
  }

  .training-video-feedbacks-slider .slick-list {
    padding-left: 0 !important;
  }

  .video-feedbacks-section .slick-list {
    margin: 0 -6px;
  }

  .video-feedbacks-section .slick-slide {
    margin: 0 6px;
  }

  .crane-maintenance .items h4 {
    font-size: 20px;
    line-height: 32px;
  }

  .crane-maintenance .row .col-md-4 {
    margin-bottom: 32px;
  }

  .training-and-workshops-section p {
    font-size: 16px;
    line-height: 28px;
  }

  .community-member-section .items h6 {
    font-size: 20px;
    line-height: 32px;
  }

  .community-member-section h3,
  .video-feedbacks-section h3 {
    font-size: 24px;
    line-height: 36px;
  }
}
